In [1]:
import pandas as pd
import numpy as np

In [7]:
location= "../../datasets/DC_Properties.csv"
#location = r"C:\Users\TPCF235009ur\Documents\Data Analytic Bootcamp\datasets\DC_Properties.csv"
df=pd.read_csv(location, low_memory=False)
df.tail()


#df=pd.read_csv("datasets/DC_Properties.csv")

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
158952,158952,1,0,Forced Air,Y,NaN,3,1,1938.0,2006.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,0477,-77.019422,38.911848,NW
158953,158953,1,0,Forced Air,Y,NaN,4,2,1938.0,2006.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,0477,-77.019422,38.911848,NW
158954,158954,2,0,Forced Air,Y,NaN,4,2,1920.0,2007.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,0477,-77.019422,38.911848,NW
158955,158955,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,...,-77.01823,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,0504,-77.018232,38.872961,SW
158956,158956,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,...,-77.01823,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,0504,-77.018232,38.872961,SW

In [8]:
df.count()

Unnamed: 0            158957
BATHRM                158957
HF_BATHRM             158957
HEAT                  158957
AC                    158957
NUM_UNITS             106696
ROOMS                 158957
BEDRM                 158957
AYB                   158686
YR_RMDL                80928
EYB                   158957
STORIES               106652
SALEDATE              132187
PRICE                  98216
QUALIFIED             158957
SALE_NUM              158957
GBA                   106696
BLDG_NUM              158957
STYLE                 106696
STRUCT                106696
GRADE                 106696
CNDTN                 106696
EXTWALL               106696
ROOF                  106696
INTWALL               106696
KITCHENS              106695
FIREPLACES            158957
USECODE               158957
LANDAREA              158957
GIS_LAST_MOD_DTTM     158957
SOURCE                158957
CMPLX_NUM              52261
LIVING_GBA             52261
FULLADDRESS           106040
CITY                  106051
STATE                 106051
ZIPCODE               158956
NATIONALGRID          106051
LATITUDE              158956
LONGITUDE             158956
ASSESSMENT_NBHD       158956
ASSESSMENT_SUBNBHD    126406
CENSUS_TRACT          158956
CENSUS_BLOCK          106051
WARD                  158956
SQUARE                158957
X                     158720
Y                     158720
QUADRANT              158720
dtype: int64

In [10]:
df.shape

(158957, 49)

In [11]:
df.['ASSESSMENT_NBHD']

SyntaxError: invalid syntax (<ipython-input-11-3cd50c1d71ee>, line 1)

In [12]:
df.describe()

,Unnamed: 0,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,...,USECODE,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y
count,158957.000000,158957.000000,158957.000000,106696.000000,158957.000000,158957.000000,158686.000000,80928.000000,158957.000000,106652.000000,...,158957.000000,158957.000000,52261.000000,52261.000000,158956.000000,158956.000000,158956.000000,158956.000000,158720.000000,158720.000000
mean,79478.000000,1.810678,0.458237,1.198039,6.187736,2.732506,1941.987579,1998.243537,1963.718024,2.091793,...,14.252999,2473.282158,2371.544249,888.834542,20012.694563,38.914854,-77.016676,5348.216324,-77.016712,38.914846
std,45887.077707,0.976396,0.587571,0.596924,2.618165,1.358864,33.640234,16.575786,24.923150,2.933323,...,3.725736,5059.046023,1114.272364,420.185822,15.627084,0.031723,0.040938,3369.645953,0.040933,0.031682
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1754.000000,20.000000,1800.000000,0.000000,...,11.000000,0.000000,1001.000000,0.000000,20001.000000,38.819731,-77.113909,100.000000,-77.113135,38.820576
25%,39739.000000,1.000000,0.000000,1.000000,4.000000,2.000000,1918.000000,1985.000000,1954.000000,2.000000,...,11.000000,697.000000,1501.000000,616.000000,20007.000000,38.895425,-77.042892,2102.000000,-77.042894,38.895432
50%,79478.000000,2.000000,0.000000,1.000000,6.000000,3.000000,1937.000000,2004.000000,1963.000000,2.000000,...,13.000000,1649.000000,2265.000000,783.000000,20011.000000,38.915337,-77.019596,5201.000000,-77.019581,38.915229
75%,119217.000000,2.000000,1.000000,1.000000,7.000000,3.000000,1960.000000,2010.000000,1975.000000,2.000000,...,17.000000,3000.000000,2910.000000,1060.000000,20018.000000,38.936075,-76.988626,8302.000000,-76.988842,38.936077
max,158956.000000,14.000000,11.000000,6.000000,48.000000,24.000000,2019.000000,2019.000000,2018.000000,826.000000,...,117.000000,942632.000000,5621.000000,8553.000000,20392.000000,38.995540,-76.909758,11100.000000,-76.910511,38.993646

In [13]:
df.columns

Index(['Unnamed: 0', 'BATHRM', 'HF_BATHRM', 'HEAT', 'AC', 'NUM_UNITS', 'ROOMS',
       'BEDRM', 'AYB', 'YR_RMDL', 'EYB', 'STORIES', 'SALEDATE', 'PRICE',
       'QUALIFIED', 'SALE_NUM', 'GBA', 'BLDG_NUM', 'STYLE', 'STRUCT', 'GRADE',
       'CNDTN', 'EXTWALL', 'ROOF', 'INTWALL', 'KITCHENS', 'FIREPLACES',
       'USECODE', 'LANDAREA', 'GIS_LAST_MOD_DTTM', 'SOURCE', 'CMPLX_NUM',
       'LIVING_GBA', 'FULLADDRESS', 'CITY', 'STATE', 'ZIPCODE', 'NATIONALGRID',
       'LATITUDE', 'LONGITUDE', 'ASSESSMENT_NBHD', 'ASSESSMENT_SUBNBHD',
       'CENSUS_TRACT', 'CENSUS_BLOCK', 'WARD', 'SQUARE', 'X', 'Y', 'QUADRANT'],
      dtype='object')

In [16]:
df_no_missing = df.dropna().count()
df_no_missing

Unnamed: 0            0
BATHRM                0
HF_BATHRM             0
HEAT                  0
AC                    0
NUM_UNITS             0
ROOMS                 0
BEDRM                 0
AYB                   0
YR_RMDL               0
EYB                   0
STORIES               0
SALEDATE              0
PRICE                 0
QUALIFIED             0
SALE_NUM              0
GBA                   0
BLDG_NUM              0
STYLE                 0
STRUCT                0
GRADE                 0
CNDTN                 0
EXTWALL               0
ROOF                  0
INTWALL               0
KITCHENS              0
FIREPLACES            0
USECODE               0
LANDAREA              0
GIS_LAST_MOD_DTTM     0
SOURCE                0
CMPLX_NUM             0
LIVING_GBA            0
FULLADDRESS           0
CITY                  0
STATE                 0
ZIPCODE               0
NATIONALGRID          0
LATITUDE              0
LONGITUDE             0
ASSESSMENT_NBHD       0
ASSESSMENT_SUBNBHD    0
CENSUS_TRACT          0
CENSUS_BLOCK          0
WARD                  0
SQUARE                0
X                     0
Y                     0
QUADRANT              0
dtype: int64

In [19]:
df_reduced=df[['BATHRM','BEDRM','ROOMS','HEAT', 'AC','YR_RMDL','LANDAREA','LATITUDE', 'LONGITUDE']]

In [44]:
df_reduced_sorted=df_reduced.sort_values('YR_RMDL', ascending=False)
#df.sort_values('hours')
df_reduced_sorted

,BATHRM,BEDRM,ROOMS,HEAT,AC,YR_RMDL,LANDAREA,LATITUDE,LONGITUDE
34401,8,7,34,Hot Water Rad,Y,2000.0,942632,38.947840,-77.053165
40031,14,12,39,Warm Cool,Y,1986.0,691817,38.939016,-77.045695
24545,10,12,41,Warm Cool,Y,NaN,498734,38.920770,-77.090111
34546,9,7,23,Forced Air,Y,NaN,451804,38.956491,-77.060671
34322,6,10,20,Forced Air,Y,NaN,339658,38.940022,-77.056305
34320,12,24,48,Forced Air,Y,2009.0,338435,38.960743,-77.006166
34321,4,8,16,Hot Water Rad,Y,2001.0,338435,38.960743,-77.006166
29163,5,5,18,Warm Cool,Y,2002.0,329174,38.941993,-77.083813
38220,10,9,24,Forced Air,Y,NaN,240377,38.934205,-77.054479
22103,4,10,18,Warm Cool,Y,2014.0,227446,38.911401,-77.063695
24903,10,10,39,Warm Cool,Y,NaN,226479,38.914209,-77.087337
27892,7,7,16,Warm Cool,Y,1990.0,198634,38.940981,-77.084367
105661,2,0,5,Warm Cool,Y,NaN,187301,38.830623,-76.991235
20685,6,9,17,Warm Cool,Y,2013.0,155905,38.911670,-77.056612
28370,1,1,3,Warm Cool,Y,NaN,148913,38.934668,-77.084688
24910,8,10,13,Forced Air,Y,NaN,124980,38.924289,-77.090686
26947,6,6,11,Warm Cool,Y,1988.0,121062,38.936282,-77.094081
25862,5,6,12,Warm Cool,Y,2002.0,120735,38.933307,-77.091929
34658,5,4,10,Warm Cool,Y,NaN,117612,38.958420,-77.060425
34659,1,0,1,Forced Air,Y,NaN,117612,38.958420,-77.060425
32031,5,7,12,Forced Air,N,2000.0,115072,38.943848,-77.055847
34318,2,3,6,Forced Air,Y,2001.0,108770,38.940354,-77.054246
34317,2,3,6,Forced Air,Y,2002.0,108770,38.940354,-77.054246
34316,3,7,15,Hot Water Rad,Y,2000.0,108770,38.940354,-77.054246
40431,11,19,23,Warm Cool,Y,1993.0,107055,38.918226,-77.050711
38705,5,10,40,Warm Cool,Y,2008.0,104425,38.918993,-77.064180
39326,5,7,14,Warm Cool,Y,1960.0,102340,38.965296,-77.055577
35548,8,8,14,Ht Pump,Y,2001.0,95370,38.941848,-77.055985
102691,0,0,0,No Data,0,NaN,89720,38.848884,-76.972566
23783,4,6,10,Warm Cool,Y,2004.0,87378,38.923575,-77.088646
...,...,...,...,...,...,...,...,...,...
138853,2,2,3,Forced Air,Y,NaN,0,38.921401,-77.041679
140473,2,1,2,Forced Air,Y,NaN,0,38.921401,-77.041679
140474,1,1,2,Forced Air,Y,NaN,0,38.921401,-77.041679
140475,2,1,3,Forced Air,Y,NaN,0,38.921401,-77.041679
140489,2,1,4,Forced Air,Y,NaN,0,38.921401,-77.041679
140702,3,3,6,Forced Air,Y,NaN,0,38.921401,-77.041679
140701,2,1,2,Forced Air,Y,NaN,0,38.921401,-77.041679
140700,1,1,2,Forced Air,Y,NaN,0,38.921401,-77.041679
140699,1,1,2,Forced Air,Y,NaN,0,38.921401,-77.041679
140698,2,1,2,Forced Air,Y,NaN,0,38.921401,-77.041679
140697,3,2,4,Forced Air,Y,NaN,0,38.921401,-77.041679
140696,4,3,5,Forced Air,Y,NaN,0,38.921401,-77.041679
140695,2,2,4,Forced Air,Y,NaN,0,38.921401,-77.041679
140694,2,2,3,Forced Air,Y,NaN,0,38.921401,-77.041679
140491,1,1,2,Forced Air,Y,NaN,0,38.921401,-77.041679
140490,3,2,5,Forced Air,Y,NaN,0,38.921401,-77.041679
140488,2,2,4,Forced Air,Y,NaN,0,38.921401,-77.041679
140476,2,1,2,Forced Air,Y,NaN,0,38.921401,-77.041679
140487,2,2,4,Forced Air,Y,NaN,0,38.921401,-77.041679
140486,2,1,4,Forced Air,Y,NaN,0,38.921401,-77.041679
140485,2,2,4,Forced Air,Y,NaN,0,38.921401,-77.041679
140484,2,2,4,Forced Air,Y,NaN,0,38.921401,-77.041679
140483,2,1,4,Forced Air,Y,NaN,0,38.921401,-77.041679
140482,2,1,4,Forced Air,Y,NaN,0,38.921401,-77.041679
140481,3,2,6,Forced Air,Y,NaN,0,38.921401,-77.041679
140480,2,2,3,Forced Air,Y,NaN,0,38.921401,-77.041679
140479,2,1,2,Forced Air,Y,NaN,0,38.921401,-77.041679
140478,2,1,2,Forced Air,Y,NaN,0,38.921401,-77.041679
140477,2,1,2,Forced Air,Y,NaN,0,38.921401,-77.041679
140704,2,1,3,Forced Air,Y,NaN,0,38.921401,-77.041679

In [46]:
df_reduced_2014plus=df_reduced.loc[df_reduced['YR_RMDL']>=2014]
#df.loc[df['Grades'] <= 100] 
df_reduced_2014plus

,BATHRM,BEDRM,ROOMS,HEAT,AC,YR_RMDL,LANDAREA,LATITUDE,LONGITUDE
29,3,3,11,Forced Air,Y,2014.0,1853,38.911699,-77.034051
41,3,4,9,Warm Cool,Y,2016.0,1853,38.911710,-77.033087
44,3,4,10,Forced Air,Y,2016.0,1853,38.911706,-77.032815
72,4,3,8,Warm Cool,Y,2014.0,814,38.916049,-77.038226
81,2,3,11,Warm Cool,Y,2014.0,1320,38.915955,-77.037863
101,4,5,11,Warm Cool,Y,2015.0,2678,38.912794,-77.045991
135,3,4,9,Warm Cool,Y,2015.0,1424,38.915012,-77.040548
138,2,5,8,Warm Cool,Y,2015.0,1627,38.915356,-77.040547
173,3,4,8,Forced Air,Y,2016.0,818,38.911301,-77.034346
194,3,5,10,Hot Water Rad,Y,2014.0,1612,38.910959,-77.033868
246,5,5,9,Warm Cool,Y,2014.0,1080,38.912123,-77.046405
249,3,5,11,Warm Cool,Y,2015.0,1960,38.911324,-77.045497
264,1,3,6,Hot Water Rad,N,2014.0,714,38.899915,-77.052914
279,2,3,6,Warm Cool,Y,2016.0,827,38.917452,-77.038797
307,1,3,6,Warm Cool,Y,2014.0,815,38.917686,-77.039613
360,3,5,8,Warm Cool,Y,2016.0,1860,38.913211,-77.037596
370,4,6,11,Warm Cool,Y,2014.0,1964,38.913882,-77.037812
380,3,5,8,Hot Water Rad,Y,2018.0,1200,38.913892,-77.038208
388,2,2,6,Warm Cool,Y,2015.0,1153,38.900517,-77.052825
421,3,2,6,Warm Cool,Y,2016.0,952,38.917963,-77.039567
422,2,3,6,Hot Water Rad,N,2014.0,952,38.917949,-77.039520
449,2,2,6,Warm Cool,Y,2016.0,960,38.917449,-77.040060
455,1,3,6,Warm Cool,Y,2015.0,960,38.917447,-77.039722
531,2,5,7,Warm Cool,Y,2017.0,939,38.908377,-77.049022
537,3,3,10,Warm Cool,Y,2016.0,1062,38.902984,-77.049379
546,3,3,8,Warm Cool,Y,2016.0,956,38.903029,-77.049038
552,1,2,6,Hot Water Rad,N,2014.0,960,38.897107,-77.049061
559,2,2,7,Warm Cool,Y,2015.0,968,38.913035,-77.047049
579,3,4,8,Warm Cool,Y,2014.0,1295,38.917942,-77.039181
598,1,3,6,Warm Cool,Y,2015.0,1600,38.916150,-77.040355
...,...,...,...,...,...,...,...,...,...
158114,2,3,6,Forced Air,Y,2017.0,45,38.879271,-77.024623
158115,2,2,5,Forced Air,Y,2017.0,34,38.879271,-77.024623
158116,2,2,5,Forced Air,Y,2017.0,26,38.879271,-77.024623
158117,1,1,3,Forced Air,Y,2017.0,12,38.879271,-77.024623
158118,2,2,4,Forced Air,Y,2017.0,23,38.879271,-77.024623
158119,2,2,4,Forced Air,Y,2017.0,19,38.879271,-77.024623
158120,1,1,3,Forced Air,Y,2017.0,14,38.879271,-77.024623
158121,2,2,4,Forced Air,Y,2017.0,28,38.879271,-77.024623
158122,1,0,2,Forced Air,Y,2017.0,9,38.879271,-77.024623
158123,2,3,6,Forced Air,Y,2017.0,45,38.879271,-77.024623
158124,2,2,5,Forced Air,Y,2017.0,34,38.879271,-77.024623
158125,2,2,5,Forced Air,Y,2017.0,26,38.879271,-77.024623
158126,1,1,3,Forced Air,Y,2017.0,12,38.879271,-77.024623
158127,2,2,4,Forced Air,Y,2017.0,23,38.879271,-77.024623
158128,2,2,4,Forced Air,Y,2017.0,19,38.879271,-77.024623
158129,1,1,3,Forced Air,Y,2017.0,14,38.879271,-77.024623
158130,2,2,4,Forced Air,Y,2017.0,28,38.879271,-77.024623
158131,1,0,2,Forced Air,Y,2017.0,9,38.879271,-77.024623
158132,2,3,6,Forced Air,Y,2017.0,45,38.879271,-77.024623
158133,2,2,5,Forced Air,Y,2017.0,34,38.879271,-77.024623
158134,2,2,5,Forced Air,Y,2017.0,26,38.879271,-77.024623
158135,1,1,3,Forced Air,Y,2017.0,12,38.879271,-77.024623
158136,2,2,4,Forced Air,Y,2017.0,23,38.879271,-77.024623
158137,2,2,4,Forced Air,Y,2017.0,19,38.879271,-77.024623
158138,1,1,3,Forced Air,Y,2017.0,14,38.879271,-77.024623
158139,2,2,4,Forced Air,Y,2017.0,28,38.879271,-77.024623
158933,2,2,4,Ht Pump,Y,2016.0,306,38.912947,-77.019243
158934,1,1,3,Ht Pump,Y,2016.0,306,38.912947,-77.019243
158935,1,1,3,Ht Pump,Y,2016.0,306,38.912947,-77.019243
158936,1,1,3,Ht Pump,Y,2016.0,306,38.912947,-77.019243

In [47]:

df_reduced_land=df_reduced.sort_values('LANDAREA', ascending=False)
df_reduced_land

,BATHRM,BEDRM,ROOMS,HEAT,AC,YR_RMDL,LANDAREA,LATITUDE,LONGITUDE
34401,8,7,34,Hot Water Rad,Y,2000.0,942632,38.947840,-77.053165
40031,14,12,39,Warm Cool,Y,1986.0,691817,38.939016,-77.045695
24545,10,12,41,Warm Cool,Y,NaN,498734,38.920770,-77.090111
34546,9,7,23,Forced Air,Y,NaN,451804,38.956491,-77.060671
34322,6,10,20,Forced Air,Y,NaN,339658,38.940022,-77.056305
34320,12,24,48,Forced Air,Y,2009.0,338435,38.960743,-77.006166
34321,4,8,16,Hot Water Rad,Y,2001.0,338435,38.960743,-77.006166
29163,5,5,18,Warm Cool,Y,2002.0,329174,38.941993,-77.083813
38220,10,9,24,Forced Air,Y,NaN,240377,38.934205,-77.054479
22103,4,10,18,Warm Cool,Y,2014.0,227446,38.911401,-77.063695
24903,10,10,39,Warm Cool,Y,NaN,226479,38.914209,-77.087337
27892,7,7,16,Warm Cool,Y,1990.0,198634,38.940981,-77.084367
105661,2,0,5,Warm Cool,Y,NaN,187301,38.830623,-76.991235
20685,6,9,17,Warm Cool,Y,2013.0,155905,38.911670,-77.056612
28370,1,1,3,Warm Cool,Y,NaN,148913,38.934668,-77.084688
24910,8,10,13,Forced Air,Y,NaN,124980,38.924289,-77.090686
26947,6,6,11,Warm Cool,Y,1988.0,121062,38.936282,-77.094081
25862,5,6,12,Warm Cool,Y,2002.0,120735,38.933307,-77.091929
34658,5,4,10,Warm Cool,Y,NaN,117612,38.958420,-77.060425
34659,1,0,1,Forced Air,Y,NaN,117612,38.958420,-77.060425
32031,5,7,12,Forced Air,N,2000.0,115072,38.943848,-77.055847
34318,2,3,6,Forced Air,Y,2001.0,108770,38.940354,-77.054246
34317,2,3,6,Forced Air,Y,2002.0,108770,38.940354,-77.054246
34316,3,7,15,Hot Water Rad,Y,2000.0,108770,38.940354,-77.054246
40431,11,19,23,Warm Cool,Y,1993.0,107055,38.918226,-77.050711
38705,5,10,40,Warm Cool,Y,2008.0,104425,38.918993,-77.064180
39326,5,7,14,Warm Cool,Y,1960.0,102340,38.965296,-77.055577
35548,8,8,14,Ht Pump,Y,2001.0,95370,38.941848,-77.055985
102691,0,0,0,No Data,0,NaN,89720,38.848884,-76.972566
23783,4,6,10,Warm Cool,Y,2004.0,87378,38.923575,-77.088646
...,...,...,...,...,...,...,...,...,...
138853,2,2,3,Forced Air,Y,NaN,0,38.921401,-77.041679
140473,2,1,2,Forced Air,Y,NaN,0,38.921401,-77.041679
140474,1,1,2,Forced Air,Y,NaN,0,38.921401,-77.041679
140475,2,1,3,Forced Air,Y,NaN,0,38.921401,-77.041679
140489,2,1,4,Forced Air,Y,NaN,0,38.921401,-77.041679
140702,3,3,6,Forced Air,Y,NaN,0,38.921401,-77.041679
140701,2,1,2,Forced Air,Y,NaN,0,38.921401,-77.041679
140700,1,1,2,Forced Air,Y,NaN,0,38.921401,-77.041679
140699,1,1,2,Forced Air,Y,NaN,0,38.921401,-77.041679
140698,2,1,2,Forced Air,Y,NaN,0,38.921401,-77.041679
140697,3,2,4,Forced Air,Y,NaN,0,38.921401,-77.041679
140696,4,3,5,Forced Air,Y,NaN,0,38.921401,-77.041679
140695,2,2,4,Forced Air,Y,NaN,0,38.921401,-77.041679
140694,2,2,3,Forced Air,Y,NaN,0,38.921401,-77.041679
140491,1,1,2,Forced Air,Y,NaN,0,38.921401,-77.041679
140490,3,2,5,Forced Air,Y,NaN,0,38.921401,-77.041679
140488,2,2,4,Forced Air,Y,NaN,0,38.921401,-77.041679
140476,2,1,2,Forced Air,Y,NaN,0,38.921401,-77.041679
140487,2,2,4,Forced Air,Y,NaN,0,38.921401,-77.041679
140486,2,1,4,Forced Air,Y,NaN,0,38.921401,-77.041679
140485,2,2,4,Forced Air,Y,NaN,0,38.921401,-77.041679
140484,2,2,4,Forced Air,Y,NaN,0,38.921401,-77.041679
140483,2,1,4,Forced Air,Y,NaN,0,38.921401,-77.041679
140482,2,1,4,Forced Air,Y,NaN,0,38.921401,-77.041679
140481,3,2,6,Forced Air,Y,NaN,0,38.921401,-77.041679
140480,2,2,3,Forced Air,Y,NaN,0,38.921401,-77.041679
140479,2,1,2,Forced Air,Y,NaN,0,38.921401,-77.041679
140478,2,1,2,Forced Air,Y,NaN,0,38.921401,-77.041679
140477,2,1,2,Forced Air,Y,NaN,0,38.921401,-77.041679
140704,2,1,3,Forced Air,Y,NaN,0,38.921401,-77.041679

In [45]:
#df_reduced['YR_RMDL'] = df_reduced['YR_RMDL'].apply(lambda x: int(x)) #turns float type grades to int type

#df_reduced[df_reduced.loc['YR_RMDL'>=2014]]
#df.loc[df['Grades'] <= 100]